@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-bgdarkgrey: #484848;
  --font-family: "Quicksand", sans-serif;
}
body {
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80vw;
  height: 90vh;
  border: 3px solid #3d3d3e;
  border-radius: 20px;
  display: grid;
  margin: 40px 0;
  padding: 20px;

  grid-template-columns: 1fr;
  grid-template-areas: "content";
  font-family: var(--font-family);
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(9, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.content div {
  border: 1px solid #212121;
  border-radius: 20px;
  background-color: #171818;
  color: var(--color-white);
}
.content1 {
  grid-row: 1/4;
  grid-column: 1/7;
  display: grid;
  gap: 18px;
  align-content: center;
  padding: 20px;
}
.content:has(.elements:hover) .elements:not(:hover) {
  transition: 0.5s ease-in-out;
  filter: blur(1px);
  /*opacity: 1;  */
}
.content:has(.elements) {
  transition: transform 0.2s ease-in-out;
}
.content:has(.elements:hover) .elements:hover {
  transform: scale(1.1);
}
.content1 a:first-child,
.content11 a:last-child,
.content13 a:last-child,
.content14 a:first-child,
.content15 a:first-child {
  font-size: 24px;
}
.content1 a:last-child,
.content11 a:first-child,
.content13 a:first-child {
  font-size: 18px;
  color: #5f5f62;
}

.content2 {
  position: relative;
  grid-row: 1/4;
  grid-column: 7/10;
}
.content2 img,
.content3 img,
.content10 img {
  position: absolute;
  width: 222px;
  height: 206px;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}
.content12 img {
  position: absolute;
  width: 300px;
  height: 190px;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}
.content3 {
  position: relative;
  grid-row: 1/4;
  grid-column: 10/13;
}

.content4 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 13/14;
}

.content5 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 14/15;
}
.content6 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 15/16;
}
.content7 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 2/3;
  grid-column: 13/14;
}
.content8 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 2/3;
  grid-column: 14/15;
}
.content9 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 2/3;
  grid-column: 15/16;
}
.content10 {
  grid-row: 4/7;
  grid-column: 1/4;
}
.content11 {
  grid-row: 4/7;
  grid-column: 4/9;
  display: grid;
  gap: 18px;
  align-content: center;
  padding: 20px;
}
.content11 i,
.content13 i {
  text-align: end;
}
.content12 {
  grid-row: 4/7;
  grid-column: 9/13;
}
.content13 {
  grid-row: 3/7;
  grid-column: 13/16;
  display: grid;
  gap: 18px;
  align-content: space-between;
  padding: 20px;
}
.content13 a:first-child {
  display: block;
  margin-bottom: 15px;
}
.content14 {
  grid-row: 7/10;
  grid-column: 1/7;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;
}
.content14 div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.content14 .subscribe h6 {
  border: 1px solid #29292a;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  color: #464646;
}
.content14 .subscribe button {
  width: 100px;
  border: none;
  border-radius: 14px;
  background-color: #262525;
  color: var(--color-white);
}
.content15 {
  grid-row: 7/10;
  grid-column: 7/11;
  display: grid;

  padding: 20px;
}
.stacks {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.stacks a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #262525;
}
.stacks a img {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
  top: 4px;
  left: 4px;
}
.content16 {
  grid-row: 7/10;
  grid-column: 11/13;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;
}
.content16 div {
  background-color: #262525;
  border: 1px solid #29292a;
  padding: 3px;
  width: 68px;
  height: 40px;
}
.content16 i {
  padding: 8px;
  border: 1px solid #29292a;
  border-radius: 18px;
  background-color: #000;
}
.content17 {
  grid-row: 7/10;
  grid-column: 13/16;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;
}
.content17 .subscribe button {
  width: 120px;
  border: none;
  border-radius: 14px;
  background-color: #262525;
  color: var(--color-white);
  padding: 10px;
}
.content17 .subscribe i {
  padding-left: 10px;
}
/* .elements:has(.elements:hover) .elements:not(:hover) {
  filter: blur(3px);
  opacity: 1;
} */
